@model List<UserDiary>

<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-info">
				Istorija Dnevnika
			</h2>
		</div>
		<div class="col-6 text-end">

			<a asp-controller="Food" asp-action="Index" class="btn btn-primary border">
				<i class="bi bi-caret-left-square"></i> Nazad na hranu
			</a>
				
		</div>
	</div>
</div>
<div class="container">
	<div class="row">

		@{
			@if (Model != null)
			{


				<div class="container">
					<div class="row justify-content-center " style=" max-height: 400px; overflow-y: auto;">
						<div class="col-md-8 text-center table-responsive">
							<table class="table text-light table-secondary">
								<thead class="table-primary">
										
								<tr>
										<th>Datum</th>
										<th>Kalorije</th>
										<th>Proteini</th>
										<th>Ugljeni Hidrati</th>
										<th>Masti</th>
										<th></th>

									</tr>
								</thead>
								<tbody>
									@foreach (var diary in Model)
									{
										<tr>
											<td>@diary.DiaryDate.ToShortDateString()</td>
											<td>@String.Format("{0:0.00}", diary.CaloriesSummary) kcal</td>
											<td>@String.Format("{0:0.00}", diary.ProteinsSummary) g</td>
											<td>@String.Format("{0:0.00}", diary.CarbsSummary) g</td>
											<td>@String.Format("{0:0.00}", diary.FatSummary) g</td>

											<td class="text-center">
												<div class="col-auto w-100 text-center justify-content-center" role="group">
													<a asp-controller="Diary" asp-action="DiaryDetails" asp-route-id="@diary.Id" class="btn-primary btn w-75 mx-2">
														<i class="bi bi-three-dots-vertical d-inline"></i>Detalji
													</a>
													<a asp-controller="Diary" asp-action="DeleteDiary" asp-route-id="@diary.Id" class="btn btn-danger w-75 mx-2">
														<i class="bi bi-trash"></i> Obriši
													</a>
												</div>
											</td>


										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					
				</div>

			}
			else
			{
				<h3>@ViewBag.NotFound</h3>
			}
		}
	</div>
</div>
