@model UserDiary
<div class="container">
	<div class="row">

		@{
			@if (Model != null)
			{


				<div class="col-md-12">
					<div class="card bg-light ">
						<div class="card-header d-flex justify-content-between align-items-center bg-primary" style="max-height: 300px; overflow-y: auto;">
							<h4>Detalji Dnevnika</h4>
							<p>Datum: @Model.DiaryDate.ToShortDateString()</p>
						</div>
						<div class="card-body d-flex justify-content-between align-items-center">
							<h5 class="card-text text-dark fw-bold">Proteini: @Model.ProteinsSummary g</h5>
							<h5 class="card-text text-dark fw-bold">Ugljeni Hidrati: @Model.CarbsSummary g</h5>
							<h5 class="card-text text-dark fw-bold">Masti: @Model.FatSummary g</h5>
							<h5 class="card-text text-dark fw-bold">Kalorije: @Model.CaloriesSummary kcal</h5>

							<div class="card shadow mt-3">
								<h5 class="card-header bg-dark">Lista Hrane</h5>
								<div class="card-body bg-secondary text-center" style="max-height: 300px; overflow-y: auto;">
									<table class="table table-secondary">
										<thead>
											<tr>
												<th>Hrana</th>
												<th>Količina(g)</th>


											</tr>
										</thead>
										<tbody>
											@foreach (var food in Model.DailyFood)
											{
												<tr>
													<td>@food.FoodName</td>
													<td>@food.Grams g</td>



												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-center">

							<div class="col-auto text-center">
								<form method="post">
									<input hidden asp-for="Id" />
									<div class="row">
										<div class="col-7">
											<button type="submit" class="btn btn-primary btn-danger form-control">Obriši ovaj dnevnik</button>
										</div>
										<div class="col-7">
											<a asp-controller="Diary" asp-action="AllDiaries" class="btn btn-primary form-control">Nazad na dnevnike</a>
										</div>
									</div>

								</form>

							</div>
						</div>
					</div>
				</div>
			}
			else
			{
				<h3>@ViewBag.NotFound</h3>
			}
		}
	</div>
</div>