@model List<Food>
<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">
				Food
			</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Food" asp-action="AddFood" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> Dodaj Namirnicu
			</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<table class="table table-bordered ">
				<thead class="table-dark">
					
					<tr>
						<th>Name of Food</th>
						<th>Type of Food</th>
						<th>Proteins</th>
						<th>Carbs</th>
						<th>Fat</th>
					</tr>
					
				</thead>
				<tbody>
					@{
						foreach (var f in Model)
						{

							<tr>
								<td>@f.FoodName</td>
								<td>@f.TypeOfFood</td>
								<td>@f.Proteins</td>
								<td>@f.Carbs</td>
								<td>@f.Fat</td>

							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>